* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell {
    background-color: green;
    border: 2px black solid;
    width: 100px;
    height: 100px;
}

#board {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}